@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 51, 51;
  --background-rgb: 250, 250, 251;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 254, 254, 254;
    --background-rgb: 37, 35, 41;

  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#separator {
  width: 100%;
  height: 1px;
  padding: 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white;
}

.no-scrollbar {
  scrollbar-width: none;
}